

body{
    background: linear-gradient(90deg, rgba(71, 114, 230, 0.45) 0.03%, rgba(142, 84, 233, 0.45) 100.36%);

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

